<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570560561302-0a655kbo8g85uh4glamd5kdbame1ah4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570560561302-0a655kbo8g85uh4glamd5kdbame1ah4h</string>
	<key>API_KEY</key>
	<string>AIzaSyBuDrX6vW-lHDjrKPaEO56hB1KDuDAaLLg</string>
	<key>GCM_SENDER_ID</key>
	<string>570560561302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sitesurface.starter</string>
	<key>PROJECT_ID</key>
	<string>sitesurface-flutter-starter</string>
	<key>STORAGE_BUCKET</key>
	<string>sitesurface-flutter-starter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570560561302:ios:185a62ebaab61d8b4902b7</string>
</dict>
</plist>